In [2]:
import glob
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB

In [3]:
path = "./"
data = []
all_files = glob.glob(path+"/*.csv")
for filename in all_files:
    frame = pd.read_csv(filename,index_col=None, header=0)
    data.append(frame)
    
df = pd.concat(data,axis=0,ignore_index=True)

In [4]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual

In [0]:
df.shape

(3757777, 9)

In [0]:
df = df.drop(labels=['Start station','End station','Start date','End date','Bike number'],axis=1)

In [0]:
df.head()

   Duration  Start station number  End station number Member type
0       221                 31634               31208      Member
1      1676                 31258               31270      Casual
2      1356                 31289               31222      Casual
3      1327                 31289               31222      Casual
4      1636                 31258               31270      Casual

In [0]:
df.isna().any()

Duration                False
Start station number    False
End station number      False
Member type             False
dtype: bool

In [0]:
target_data = [df]
target_map = {'Member':1,'Casual':0}
for data in target_data:
    data["Member type"] = data["Member type"].map(target_map)

In [0]:
df.head(10)

   Duration  Start station number  End station number  Member type
0       221                 31634               31208            1
1      1676                 31258               31270            0
2      1356                 31289               31222            0
3      1327                 31289               31222            0
4      1636                 31258               31270            0
5      1603                 31258               31270            0
6       473                 31611               31616            1
7       200                 31104               31121            1
8       748                 31041               31097            1
9       912                 31202               31505            1

In [0]:
df.dtypes

Duration                int64
Start station number    int64
End station number      int64
Member type             int64
dtype: object

In [0]:
target = df['Member type']
df = df.drop(labels=['Member type'],axis=1)

In [0]:
X_train,X_test,Y_train,Y_test = train_test_split(df,target,test_size=0.3,random_state=True)

In [0]:
model = GaussianNB()

In [0]:
model.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
pred = model.predict(X_test)

In [0]:
confusion_matrix(Y_test,pred)

array([[ 64323, 230117],
       [  6338, 826556]], dtype=int64)

In [0]:
model.score(X_test,Y_test)

0.7902529330260597